@charset "UTF-8";

html {
    font-size: 100%;
}
body{
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* レイアウト */
.align-center {
    text-align: center;
}
/*見出し*/
.font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}
.page-title,
.heading-large,
.heading-medium {
    font-size: 60px;
    text-align: center;
}
.page-title {
    margin-top: 30px;
    line-height: 1.4;
}
.heading-large {
    margin-bottom: 1rem;
}

/* ヘッダー */
.page-header {
    padding-top: .5rem;
}
.logo {
    width: 210px;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 27px;
    font-size: 45px;
    list-style: none;
    position: relative;
    top: 200px;
}
.main-nav a {
    color: #432;
    font-size: 1rem;
}
.main-nav a:hover {
    color: #0bd;
}

h3 {
    font-size: 2rem;
}
/*背景*/
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 1500px;
}

.cover-home{
    background-image: url(../img/haikei.png);
}

/*ヘッダー*/
.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}


/* デスクトップ版*/
@media(min-width: 800px) {
    .page-title {
        font-size :5rem;
    }
    .heading-large {
        font-size: 4rem;
    }
}
